
.app{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 90vh;
}

.time{
    display: flex;
    justify-content: center;
    font-size: 50ch;
}

.row{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 50px;
    padding: 30px;
}

button{
    font-size: 48px;
    padding: 20px 35px;
    width: fit-content;
    border: none;
    border-radius: 5px;
    transition: all 0.2s;
}

button:active{
    transform: scale(0.8);
}

.btn-start{
    background-color:cyan;
}

.btn-reset{
    background-color: brown;
}