.lmj-banner {
    color: black;
    text-align: right;
    padding: 32px;
    border-bottom: solid 3px black;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

img {
    width: 100px;
}