$brown : #BC9A44;

/* ************************************************************************/
/** HEADER*****************************************************************/
/* ************************************************************************/
.App-header {
    margin-bottom: 190px;

    .header-back {
        background: rgba(0, 0, 0, 1);
        display: flex;
        height: 650px;

        .header1,
        .header2 {
            opacity: 0.3;
            width: 100%;
            height: 100%;
        }
    }

    .App-nav {
        z-index: 100;
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .header-middle {
            display: flex;
            width: 100%;
            position: absolute;
            justify-content: center;
            margin-top: 12%;

            .wood-line {
                position: absolute;
                width: 115px;
                height: 8px;
                left: 660px;
                top: 15px;
                background: $brown;
                border-radius: 4px;
            }
        }

        .burger-menu {
            margin: 15px 10px;

            .bar {
                display: block;
                width: 25px;
                height: 3px;
                margin: 5px auto;
                background-color: white;
            }
        }


        .nav-link {
            display: flex;
            gap: 70px;
            margin-top: 5px;

            img {
                height: 18px;
            }

            a {
                font-size: 18px;
                text-decoration: none;
                color: white;
                margin-right: 50px;
            }
        }
    }
}

/************************************************************************************/
/* SECTION ABOUT US
/************************************************************************************/
.about {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 190px;

    .about-text {
        width: 550px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        line-height: 25px;

        p {
            color: #827E7E;
        }

        .about-title {
            display: flex;
            gap: 13px;
            .rect-about {
                background-color: #E4D7B4;
                height: 44px;
                width: 9px;
                left: 783px;
                top: 842px;
                border-radius: 0px;

            }
        }

        .learn-btn {
            position: absolute;
            letter-spacing: 3px;
            border: solid 2px $brown;
            background-color: white;
            padding: 10px 25px;
            width: 200px;
            height: 54px;
            margin-left: -35px;
            margin-top: 300px;
        }
    }

    .chair-div {
        display: flex;
        justify-content: center;
        width: 50%;

        .chair-img {
            box-shadow: -84px -41px 0px 0px rgba(188, 154, 68, 0.4);
        }
    }
}