/* ************************************************************************/
/** HEADER*****************************************************************/
/* ************************************************************************/
.App-header {
  margin-bottom: 190px;
}

.App-header .header-back {
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 650px;
}

.App-header .header-back .header1,
.App-header .header-back .header2 {
  opacity: 0.3;
  width: 100%;
  height: 100%;
}

.App-header .App-nav {
  z-index: 100;
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App-header .App-nav .header-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 12%;
}

.App-header .App-nav .header-middle .wood-line {
  position: absolute;
  width: 115px;
  height: 8px;
  left: 660px;
  top: 15px;
  background: #BC9A44;
  border-radius: 4px;
}

.App-header .App-nav .burger-menu {
  margin: 15px 10px;
}

.App-header .App-nav .burger-menu .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: white;
}

.App-header .App-nav .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
  margin-top: 5px;
}

.App-header .App-nav .nav-link img {
  height: 18px;
}

.App-header .App-nav .nav-link a {
  font-size: 18px;
  text-decoration: none;
  color: white;
  margin-right: 50px;
}

/************************************************************************************/
/* SECTION ABOUT US
/************************************************************************************/
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-bottom: 190px;
  /* SECTION SHOP
    /************************************************************************************/
}

.about .about-text {
  width: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  line-height: 25px;
}

.about .about-text p {
  color: #827E7E;
  font-size: 16px;
}

.about .about-text .about-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 13px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .about-text .about-title h3 {
  font-size: 24px;
}

.about .about-text .about-title .rect-about {
  background-color: #E4D7B4;
  height: 44px;
  width: 9px;
  border-radius: 0px;
}

.about .about-text .div-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 75px;
  margin-left: -35px;
}

.about .about-text .div-btn .learn-btn {
  letter-spacing: 3px;
  border: solid 2px #BC9A44;
  background-color: white;
  padding: 10px 25px;
  width: 200px;
  height: 54px;
  font-size: 16px;
}

.about .about-text .div-btn .line-learn {
  position: absolute;
  border: 1px solid #000000;
  height: 0px;
  width: 151px;
  left: 910px;
}

.about .chair-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

.about .chair-div img {
  width: 334px;
  -webkit-box-shadow: -84px -41px 0px 0px rgba(188, 154, 68, 0.4);
          box-shadow: -84px -41px 0px 0px rgba(188, 154, 68, 0.4);
}

.about .shop-div {
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.about .shop-div .shop-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 550px;
  margin-left: 10%;
  line-height: 25px;
}

.about .shop-div .shop-text p {
  color: #827E7E;
  font-size: 16px;
}

.about .shop-div .shop-text .shop-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 13px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .shop-div .shop-text .shop-title h3 {
  font-size: 24px;
}

.about .shop-div .shop-text .shop-title .rect-shop {
  height: 44px;
  width: 9px;
  border-radius: 0px;
  background-color: #E4D7B4;
}

.about .shop-div .shop-text .div-btn {
  margin-top: 75px;
  margin-left: -35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .shop-div .shop-text .div-btn .shop-btn {
  letter-spacing: 3px;
  font-size: 16px;
  border: solid 2px #BC9A44;
  background-color: white;
  padding: 10px 25px;
  width: 200px;
  height: 54px;
}

.about .shop-div .shop-text .div-btn .line-shop {
  width: 151px;
  height: 0px;
  position: absolute;
  left: 300px;
  border: 1px solid #000000;
}

.about .resto-div {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .resto-div img {
  -webkit-box-shadow: 26px -26px 0px 0px rgba(188, 154, 68, 0.4);
          box-shadow: 26px -26px 0px 0px rgba(188, 154, 68, 0.4);
}

/******************************************************************************************************/
/* SECTION CREATIVE TEAM */
/******************************************************************************************************/
.creative-section {
  height: 811px;
  margin-bottom: 170px;
  background-color: #1D1818;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.creative-section .div-people {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.creative-section .div-people .img-back {
  background: #BC9A44;
  height: 811px;
}

.creative-section .div-people .img-back img {
  opacity: 0.4;
}

.creative-section .creative-text {
  width: 55%;
}

.creative-section .creative-text .wood-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 25px;
  margin-right: 25px;
}

.creative-section .creative-text h2 {
  position: absolute;
  margin-left: -260px;
  margin-top: 75px;
  background-color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 70px;
  font-size: 42px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0.1em;
}

.creative-section .creative-text h3 {
  position: absolute;
  font-size: 42px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0.1em;
  margin-top: 190px;
  margin-left: -30px;
}

.creative-section .creative-text p {
  width: 530px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.1em;
  margin-top: 300px;
  margin-bottom: 130px;
}

.creative-section .creative-text h3,
.creative-section .creative-text p {
  color: white;
}

.creative-section .creative-text .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.creative-section .creative-text .btn-container button {
  border: 2px solid #BC9A44;
  background-color: #1D1818;
  width: 204px;
  height: 54px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.1em;
  text-align: center;
  color: white;
}

.creative-section .creative-text .btn-container .line-btn {
  position: absolute;
  width: 151px;
  height: 0px;
  margin-left: 190px;
  border: 1px solid #FFFFFF;
}

/******************************************************************************************************/
/* SECTION CONTACT */
/******************************************************************************************************/
.contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-section .contact-title {
  margin-top: -100px;
  left: 370px;
  position: absolute;
}

.contact-section .contact-title p {
  font-size: 24px;
}

.contact-section .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
  margin-bottom: 200px;
  width: auto;
}

.contact-section .form input {
  border: 1px solid #BCB5B5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 34px;
  width: 300px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.1em;
  padding: 5px 15px;
  color: #D3C08E;
}

.contact-section .form .ipt-name-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 29px;
}

.contact-section .form .ipt-mail {
  width: 392px;
}

.contact-section .form .ipt-msg {
  height: 275px;
  width: 630px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.contact-section .wood-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 150px;
  background-color: #000000;
}

.contact-section .wood-footer img {
  height: 62px;
}
/*# sourceMappingURL=App.css.map */