/* ************************************************************************/
/** HEADER*****************************************************************/
/* ************************************************************************/
.App-header {
  margin-bottom: 190px;
}

.App-header .header-back {
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 650px;
}

.App-header .header-back .header1,
.App-header .header-back .header2 {
  opacity: 0.3;
  width: 100%;
  height: 100%;
}

.App-header .App-nav {
  z-index: 100;
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App-header .App-nav .header-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 12%;
}

.App-header .App-nav .header-middle .wood-line {
  position: absolute;
  width: 115px;
  height: 8px;
  left: 660px;
  top: 15px;
  background: #BC9A44;
  border-radius: 4px;
}

.App-header .App-nav .burger-menu {
  margin: 15px 10px;
}

.App-header .App-nav .burger-menu .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: white;
}

.App-header .App-nav .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
  margin-top: 5px;
}

.App-header .App-nav .nav-link img {
  height: 18px;
}

.App-header .App-nav .nav-link a {
  font-size: 18px;
  text-decoration: none;
  color: white;
  margin-right: 50px;
}

/************************************************************************************/
/* SECTION ABOUT US
/************************************************************************************/
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-bottom: 190px;
}

.about .about-text {
  width: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  line-height: 25px;
}

.about .about-text p {
  color: #827E7E;
}

.about .about-text .about-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 13px;
}

.about .about-text .about-title .rect-about {
  background-color: #E4D7B4;
  height: 44px;
  width: 9px;
  left: 783px;
  top: 842px;
  border-radius: 0px;
}

.about .about-text .learn-btn {
  position: absolute;
  letter-spacing: 3px;
  border: solid 2px #BC9A44;
  background-color: white;
  padding: 10px 25px;
  width: 200px;
  height: 54px;
  margin-left: -35px;
  margin-top: 300px;
}

.about .chair-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

.about .chair-div .chair-img {
  -webkit-box-shadow: -84px -41px 0px 0px rgba(188, 154, 68, 0.4);
          box-shadow: -84px -41px 0px 0px rgba(188, 154, 68, 0.4);
}
/*# sourceMappingURL=App.css.map */