$brown : #BC9A44;

/* ************************************************************************/
/** HEADER*****************************************************************/
/* ************************************************************************/
.App-header {
    margin-bottom: 190px;

    .header-back {
        background-color: black;
        display: flex;
        width: 100%; 

        .header2,
        .header1 {
            opacity: 0.3;
            width: 50%;
        }
    }

    .App-nav {
        z-index: 100;
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 18px;
        .header-middle {
            display: flex;
            width: 100%;
            position: absolute;
            justify-content: center;
            margin-top: 12%;

            .wood-line {
                position: absolute;
                width: 115px;
                height: 8px;
                margin-left: -96px;
                top: 15px;
                background: $brown;
                border-radius: 4px;
            }
        }

        .burger-menu {
            margin: 15px 15px;

            .bar {
                display: block;
                width: 25px;
                height: 3px;
                margin: 5px auto;
                background-color: white;
            }
        }


        .nav-link {
            display: flex;
            gap: 100px;
            margin-top: 5px;

            img {
                height: 18px;
            }

            a {
                font-size: 18px;
                text-decoration: none;
                color: white;
                margin-right: 50px;
            }
        }
    }
}

/************************************************************************************/
/* SECTION ABOUT US *****************************************************************/
/************************************************************************************/
.about {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 190px;

    .about-text {
        width: 550px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        line-height: 25px;

        p {
            color: #827E7E;
            font-size: 16px;
        }

        .about-title {
            display: flex;
            gap: 13px;
            align-items: center;

            h3 {
                font-size: 24px;
            }

            .rect-about {
                background-color: #E4D7B4;
                height: 44px;
                width: 9px;
                border-radius: 0px;

            }
        }

        .div-btn {
            display: flex;
            align-items: center;
            margin-top: 75px;
            margin-left: -35px;

            .learn-btn {
                letter-spacing: 3px;
                border: solid 2px $brown;
                background-color: white;
                padding: 10px 25px;
                width: 200px;
                height: 54px;
                font-size: 16px;
            }

            .line-learn {
                position: absolute;
                border: 1px solid #000000;
                height: 0px;
                width: 151px;
                margin-left: 182px;
            }
        }
    }

    .chair-div {
        display: flex;
        justify-content: center;
        width: 50%;

        img {
            width: 334px;
            box-shadow: -84px -41px 0px 0px rgba(188, 154, 68, 0.4);
        }
    }

    /* SECTION SHOP
    /************************************************************************************/
    .shop-div {
        margin-top: 150px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;

        .shop-text {
            display: flex;
            flex-direction: column;
            width: 550px;
            margin-left: 10%;
            line-height: 25px;

            p {
                color: #827E7E;
                font-size: 16px;

            }

            .shop-title {
                display: flex;
                gap: 13px;
                align-items: center;


                h3 {
                    font-size: 24px;
                }

                .rect-shop {
                    height: 44px;
                    width: 9px;
                    border-radius: 0px;
                    background-color: #E4D7B4;
                }
            }

            .div-btn {
                margin-top: 75px;
                margin-left: -35px;
                display: flex;
                align-items: center;

                .shop-btn {
                    letter-spacing: 3px;
                    font-size: 16px;
                    border: solid 2px $brown;
                    background-color: white;
                    padding: 10px 25px;
                    width: 200px;
                    height: 54px;
                }

                .line-shop {
                    width: 151px;
                    height: 0px;
                    position: absolute;
                    margin-left: 182px;
                    border: 1px solid #000000;
                }
            }
        }
    }

    .resto-div {
        width: 50%;
        display: flex;
        justify-content: center;

        img {
            box-shadow: 26px -26px 0px 0px rgba(188, 154, 68, 0.4);
        }
    }
}


/******************************************************************************************************/
/* SECTION CREATIVE TEAM ******************************************************************************/
/******************************************************************************************************/
.creative-section {
    height: 811px;
    margin-bottom: 170px;
    background-color: #1D1818;
    display: flex;

    .div-people {
        width: 45%;
        display: flex;
        justify-content: center;

        .img-back {
            background: #BC9A44;
            height: 811px;

            img {
                opacity: 0.4;
            }
        }
    }

    .creative-text {
        width: 55%;

        .wood-container {
            display: flex;
            justify-content: flex-end;
            margin-top: 25px;
            margin-right: 25px;
        }

        h2 {
            position: absolute;
            margin-left: -260px;
            margin-top: 75px;
            background-color: white;
            width: fit-content;
            padding: 15px 70px;
            font-size: 42px;
            font-weight: 700;
            line-height: 67px;
            letter-spacing: 0.1em;
        }


        h3 {
            position: absolute;
            font-size: 42px;
            font-weight: 700;
            line-height: 67px;
            letter-spacing: 0.1em;
            margin-top: 190px;
            margin-left: -30px;
        }

        p {
            width: 530px;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0.1em;
            margin-top: 300px;
            margin-bottom: 130px;
        }

        h3,
        p {
            color: white;
        }

        .btn-container {
            display: flex;
            align-items: center;

            button {
                border: 2px solid #BC9A44;
                background-color: #1D1818;
                width: 204px;
                height: 54px;
                box-sizing: border-box;

                font-size: 16px;
                font-weight: 500;
                line-height: 26px;
                letter-spacing: 0.1em;
                text-align: center;
                color: white;
            }

            .line-btn {
                position: absolute;
                width: 151px;
                height: 0px;
                margin-left: 190px;
                border: 1px solid #FFFFFF;
            }
        }
    }
}

/******************************************************************************************************/
/* SECTION CONTACT ************************************************************************************/
/******************************************************************************************************/
.contact-section {
    display: flex;
    align-items: center;
    flex-direction: column;

    .contact-title {
        margin-top: -100px;
        left: 370px;
        position: absolute;

        p {
            font-size: 24px;
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 35px;
        margin-bottom: 200px;
        width: auto;

        input {
            border: 1px solid #BCB5B5;
            box-sizing: border-box;
            border-radius: 34px;
            width: 300px;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.1em;
            padding: 5px 15px;
            color: #D3C08E;
        }

        .ipt-name-container {
            display: flex;
            gap: 29px;
        }

        .ipt-mail {
            width: 392px;
        }

        .ipt-msg {
            height: 275px;
            width: 630px;
        }
    }

    .wood-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 150px;
        background-color: #000000;

        img {
            height: 62px;
        }
    }
}